html, body {
  margin: 0;
  padding: 0;
  height: 100%;
	overflow-x: auto;
  overflow-y: auto;
	background-color: rgb(16,20,29);
}

.scene {
  position: relative;
  background-repeat: no-repeat;
	display: block;
  margin: 0 0 0 70vh;
  object-fit: contain;
	height: auto;
	width: 100%;
}